.main-header {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
}

.demo-logo {
    width: fit-content;
    height: 70%;
    padding: 0 10px;

    img {
        width: auto;
        height: 100%;
    }
}

.ant-table-thead .ant-table-cell {
    padding: 10px 5px !important;
}