.row-phanhang {
    padding: 10px 5px !important;

    .ant-table-cell {
        padding: 10px 5px !important;
    }
}

.row-phanhang-c1 {
    .ant-table-cell {
        background-color: #86ff4e75 !important;
    }
}

.row-phanhang-c2 {
    .ant-table-cell {
        background-color: #ffe13575 !important;
    }
}

.row-phanhang-c3 {
    .ant-table-cell {
        background-color: #1fff3d80 !important;
    }
}

.row-phanhang-c4 {
    .ant-table-cell {
        background-color: #13a8ff75 !important;
    }
}