.row-phanhang {
    padding: 10px 5px !important;

    .ant-table-cell {
        padding: 10px 5px !important;
    }
}

.row-phanhang-c1 {
    .ant-table-cell {
        background-color: #4db5fa75 !important;
    }
}

.row-phanhang-c2 {
    .ant-table-cell {
        background-color: #fffc5475 !important;
    }
}

.row-phanhang-c3 {
    .ant-table-cell {
        background-color: #4db5fa75 !important;
    }
}

.row-phanhang-c4 {
    .ant-table-cell {
        background-color: #fffc5475 !important;
    }
}